@tailwind base;
@tailwind components;
@tailwind utilities;




* {
    font-family: "Outfit";
    box-sizing: border-box;
}


.eye-icon {
    visibility: hidden;
  }
  
  .img-btn:hover .eye-icon {
    visibility: visible;
  }